In [2]:
import pandas as pd
from PIL import Image

In [ ]:
df=pd.DataFrame(columns=range(2500000))

In [20]:
df

,0,1,2,3,4,5,6,7,8,9,...,2499990,2499991,2499992,2499993,2499994,2499995,2499996,2499997,2499998,2499999
0,31,33,32,26,21,18,18,18,17,19,...,0,0,0,0,0,0,0,0,0,0
1,26,23,24,25,25,25,26,25,26,24,...,0,0,0,0,0,0,0,0,0,0
2,55,52,50,47,45,40,35,32,34,34,...,0,0,0,0,0,0,0,0,0,0
3,238,239,239,237,236,236,236,236,234,237,...,0,0,0,0,0,0,0,0,0,0
4,181,172,176,185,194,211,224,222,226,227,...,0,0,0,0,0,0,0,0,0,0
5,34,35,36,40,43,44,42,40,42,41,...,0,0,0,0,0,0,0,0,0,0

In [23]:
label=pd.DataFrame(columns=["label"])

path="./images_chem4"

from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]

len(onlyfiles)

onlyfiles

temp=pd.DataFrame(onlyfiles)

temp.head()

temp["address"]=temp[0]
for i in range(len(temp)):
    temp["address"][i]="images_chem4"+"/"+temp[0][i]

temp.head()

                    0                          address
0    akhand_b43_0.jpg    images_chem4/akhand_b43_0.jpg
1    akhand_b43_1.jpg    images_chem4/akhand_b43_1.jpg
2   akhand_b43_10.jpg   images_chem4/akhand_b43_10.jpg
3  akhand_b43_100.jpg  images_chem4/akhand_b43_100.jpg
4  akhand_b43_101.jpg  images_chem4/akhand_b43_101.jpg

In [ ]:
for i in range(467):
    im = Image.open(temp["address"][i])
    pixels = list(im.getdata())
    result = []
    counter = 0
    for pixel in pixels:
        counter += 1
        result.append(pixel[1])
    df.loc[i]=0
    for j in range(len(result)):
        df[j][i]=result[j]

In [ ]:
df.to_csv("Accident.csv")

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
label=pd.DataFrame(columns=["label"])

In [ ]:
path="./annot_chem4"

In [ ]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]

In [ ]:
temp=pd.DataFrame(onlyfiles)

In [ ]:
temp["address"]=temp[0]
for i in range(len(temp)):
    temp["address"][i]="annot_chem4"+"/"+temp[0][i]

In [ ]:
# parse an xml file by name
for i in range(len(temp)):
    try:
        mydoc = open(temp["address"][i])
        df=minidom.parse(mydoc)
        soup = BeautifulSoup(df.toxml())
        label.loc[i]=soup.find('name').string,
        
    except:
        label.loc[i]="No_Damage"

In [ ]:
label.head()

In [ ]:
data=pd.read_csv("Accident.csv")

In [ ]:
data["label"]=label[0]

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder1=LabelEncoder()
data["label"]=label_encoder1.fit_transform(data["label"])

In [ ]:
data.isnull().sum()

In [ ]:
data.isnull().any()

In [ ]:
limitPer = len(loan)
data = data.dropna(thresh=limitPer,axis=1)

In [ ]:
data.head()

In [ ]:
train=df.loc[:400,]
test=df.loc[400:,]

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
training=np.array(train,dtype="float32")
testing=np.array(test,dtype="float32")

In [ ]:
import random
i=random.randint(1,600000)
plt.imshow(training[200,1:]).reshape(28,28)
label1=training[i,0]
label1

In [ ]:
x_train=training[:,1:]/255
y_train=training[:,0]

In [ ]:
x_test=testing[:,1:]/255
y_test=testing[:,0]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_validate,y_train,y_validate=train_test_split(x_train,y_train,test_size=0.2,random_state=12345)

In [ ]:
x_train=x_train.reshape(x_train.reshape[0],*(28,28,1))
x_test=x_test.reshape(x_test.reshape[0],*(28,28,1))
x_validate=x_validate.reshape(x_validate.reshape[0],*(28,28,1))

In [ ]:
x_train.shape

In [ ]:
x_test.shape

In [ ]:
x_validate.shape

In [ ]:
import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Conv2D,MaxPooling2D,Dense,Flatten,Dropout
from keras.optimizers import Adam
from keras.callbacks import Tensorboard

In [ ]:
model-Sequential()

In [ ]:
model.add(Conv2D(32,3,3,input_shape=(28,28,1),activation='relu'))

In [ ]:
model.add(MaxPooling2D(pool_size=(2,2)))

In [ ]:
model.add(Flatten())

In [ ]:
model.add(Dense(output_dim=32,activation='relu'))

In [ ]:
model.add(Dense(output_dim=8,activation='sigmoid'))

In [ ]:
model.compile(loss="sparse_categorical_crossentropy",optimizer=Adam(lr=0.001),metrics=['accuracy'])

In [ ]:
epochs=10

In [ ]:
model.fit(x_train,y_train,batch_size=50,nb_epochs=epochs,verbose=1,validation_data=(x_validate,y_validate))

In [ ]:
evaluation=model.evaluate(x_test,y_test)
print("Test Accuracy:{:.3f}".format(evaluation[1]))

In [ ]:
predicted_class=model.predict_classes(x_test)

In [ ]:
predicted_class

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,predicted_class)
plt.figure(figsize=(14,10))
sns.heatmap(cm,annot=True)

In [ ]:
from sklearn.metrics import classification_report
num_classes=8
target_names=["Class {}".format(i) for i in range(num_classes)]
print(classification_report(y_test,predicted_classes,target_names=target_names))